/* GENERAL */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
  font-family: 'Lato', sans-serif;
  background-color: #ECF0F1;   /* light gray background */
  color: #2C3E50;             /* deep slate text */
  display: flex;
  flex-direction: column;
}

/* NAVBAR */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 50px;
  background: #2C3E50;  /* deep slate */
}

.logo {
  color: #ECF0F1;
  font-weight: 700;
  font-size: 24px;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 30px;
}

.nav-links a {
  color: #ECF0F1;
  text-decoration: none;
  font-weight: 500;
}

.nav-links a.active {
  border-bottom: 2px solid #E67E22; /* warm accent */
}

/* HERO */
.hero {
  background: linear-gradient(rgba(44,62,80,0.6), rgba(44,62,80,0.6)),
              url("images/hero-hvac.jpg") center/cover no-repeat;
              
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #ECF0F1;
}

.hero-text {
    padding-bottom: 80px;
}


.hero-text h1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 48px;
  margin-top: 50px;
  margin-bottom: 20px;
}

.hero-text p {
  font-size: 18px;
  margin-bottom: 30px;
}

.btn {
  background: #E67E22;    /* warm accent */
  color: white;
  padding: 12px 28px;
  border-radius: 25px;
  text-decoration: none;
  font-weight: 600;
  margin-bottom: ;
}

/* SERVICES */
.services {
  padding: 80px 20px;
  text-align: center;
}

.services h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 32px;
  margin-bottom: 40px;
}

.service-cards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
}

.card {
  width: 400px;
  background: white;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 4px 15px rgba(0,0,0,0.1);
  text-align: center;
}

.card img {
  width: 100%;
  height: 180px;
  object-fit: cover;
}

.card h3 {
  font-family: 'Montserrat', sans-serif;
  margin-top: 15px;
  font-size: 20px;
}

.card p {
  font-size: 14px;
  margin: 10px 15px 20px;
}

/* ABOUT */
.about {
  padding: 60px 20px;
  text-align: center;
}

/* CONTACT */
.contact {
  padding: 60px 20px;
  text-align: center;
}

.contact h2 {
    margin-bottom: 50px;
}

/* FOOTER */
.footer {
  background: #2C3E50;
  color: #ECF0F1;
  text-align: center;
  padding: 20px;
  margin-top: auto; /* pushes footer to bottom */
}

/* RESPONSIVE */
@media (max-width: 768px) {
  .service-cards {
    flex-direction: column;
    align-items: center;
  }

  .hero-text h1 {
    font-size: 36px;
  }

  .hero-text p {
    font-size: 16px;
  }
}
